* {
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
body{
	margin: 0;
	font-size: 10px;
	font-size: 1rem;
	font-family: 'Roboto', sans-serif;
}

/*Ajustment classes*/
.float_left {
	float: left;
}
.float_right {
	float: right;
}
.container {
	width: 80%;
	margin: auto;
}
.inline_block {
	display: inline-block;
}
h1 {
	font-size: 5rem;
}
h2 {
	font-size: 4rem;
}
h4 {
	font-size: 2rem;
	font-style: italic;
}
p {
	font-size: 1.8rem;
}
.button {
	margin-top: 30px;
	padding: 20px 30px;
	border: 3px solid #00BC8B;
	border-radius: 5px;
	color: #00BC8B;
	font-size: 1.5rem;
	font-weight: bold;
	letter-spacing: 1px;
	transition: .4s;
	text-decoration: none;
}

.button:hover,
.button:active,
.button:focus,
.button:active,
.button:focus {
	background: #00BC8B;
	color: #fff;
}
.flex {
	display: flex;
	flex-wrap: wrap;
}

/*header section*/
.toggle {
	display: none;
	position: absolute;
	z-index: 20;
	top: 25px;
	right: 40px;
}
.toggle a {
	color: #fff;
}
nav {
	width: 100%;
	height: 90px;
	position: fixed;
	top: 0;
	z-index: 10;
	background: #000;
	background: -webkit-linear-gradient(rgba(0,0,0,.8),
				rgba(0,0,0,0));
	background: -o-linear-gradient(rgba(0,0,0,.8),
				rgba(0,0,0,0));
	background: -moz-linear-gradient(rgba(0,0,0,.8),
				rgba(0,0,0,0));
	background: linear-gradient(rgba(0,0,0,.8),
				rgba(0,0,0,0));
}
.logo {
	position: absolute;
	z-index: 2;
	width: 320px;
	height: 70px;
	left: 5%;
	cursor: pointer;
}
.logo a {
	height: 40px;
	line-height: 62px;
	font-size: 2rem;
	font-style: italic;
	text-decoration: none;
	transition: .4s;
	color: #fff;
}
.logo a:hover,
.logo a:active,
.logo a:focus {
	color: #00BC8B;
}
.logo img {
	display: inline-block;
	vertical-align: middle;
	height: 40px;
	margin-top: -5px;
}
nav ul {
	margin: 0px;
	padding: 0;
	text-align: center;
}
nav li {
	display: inline-block;
	height: 70px;
	list-style: none;
	font-size: 2rem;
	margin: 0 20px;
	padding: 30px 0;
}
nav ul a {
	padding-bottom: 10px;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
	text-decoration: none;
	border-bottom: 1px solid rgba(0,0,0,0);
	transition: .4s;
}
nav li:nth-child(2) a{
	color: #00BC8B;
	border-bottom: 1px solid #00BC8B;
}
nav ul a:hover,
nav ul a:active,
nav ul a:focus{
	color: #00BC8B;
	border-bottom: 1px solid #00BC8B;
}
/*Header*/
.header {
	position: relative;
	height: 100%;
}
.header_background {
	position: absolute;
	z-index: -10;
	top: 0;
	width: 100%;
	min-height: 120%;
	background: url(../img/laptop-2588074_1920.jpg) no-repeat center center;
	background-size: cover;
}
.header_content {
	color: #fff;
	padding: 300px 70px 0;
}

.header_content h1 {
	margin-bottom: 70px;
}
.header_content p {
	font-size: 2rem;
	line-height: 3.3rem;
}
/*promissess_section*/

.promissess {
	color: #00BC8B;
	background: #fff;
	padding: 80px 0;
	text-align: center;
}
.promissess p {
	color: #919294;
	line-height: 3rem;

}
.promissess h4 {
	font-style: normal;
}
.promissess body {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.satisfaction_type {
	display: inline-block;
	min-width: 300px;
	width: 30%;
	margin-top: 20px;
	padding: 20px;
	vertical-align: top;
}
.satisfaction_type img {
	width: 100px;
	margin-bottom: 30px;
}

/*principles_section*/
.principles {
	padding-top: 30px;
/*	padding-bottom: 70px;*/
	background-color: #fff;
	overflow: auto;
}
.principles_row {
	min-height: 600px;
	overflow: auto;
}

.principles_row_block {
	position: relative;
}
.principles_row .principles_row_block,
.principles_row .principles_row_description
 {
	width: 50%;
	float: left;
	min-height: 600px;
}
.principles_row_block img {
	position: absolute;
	width: 40%;
	transition: .4s;
}
.principles_row_block img:nth-child(1) {
	top: 140px;
	right: 40px;
}
.principles_row_block img:nth-child(2) {
	top: 60px;
	right: 150px;
}
.principles_row_block img:nth-child(3) {
	top: 150px;
	right: 200px;
}
.principles_row_block img:hover {
	z-index: 10;
	transform: scale(1.3);
}
.principles_row_description {
	padding: 70px 50px;
}
.principles_row_description h4 {
	color: #00BC8B;
}
.principles_row_description p {
	color: #919294;
}

/*call_to_action_ssection*/
.call_to_action {
	padding: 70px 0;
	background: rgba(0,188,139,.8);
	color: #fff;
	text-align: center;
}
.call_to_action h2 {
	margin-top: 0;
}
.call_to_action p {
	margin: 40px 0;
}
.call_to_action .button {
	border-color: #fff;
	color: #fff;
	padding-left: 50px;
	padding-right: 50px;
}
.call_to_action .button:hover,
.call_to_action .button:active,
.call_to_action .button:focus,
.call_to_action .button:active,
.call_to_action .button:focus {
	background-color: rgba(255,255,255,.4);;
}
/*fotter_section*/
footer {
	background: #fff;
	padding: 10px 0;
	color: #919294;
	text-align: center;
	letter-spacing: 1px;
	font-weight: 100;
}


/*Mediaqueries*/

@media screen and (max-width: 1132px) {
	h1 {
		font-size: 4rem;
	}
	h2 {
		font-size: 3rem;
	}
	h4 {
		font-size: 1.6rem;
		font-style: italic;
	}
	p {
		font-size: 1.6rem;
	}
	.header {
		height: auto;
/*		min-height: 100%;*/
		height: 100%;
		padding-bottom: 30px;
	}
	.header_content {
		padding-top: 350px;
		padding-left: 20px;
		padding-right: 20px;
	}
	.header_text {
		text-align: left;
		padding: 0 20px;
	}
	.header_items {
		width: 100%;
		justify-content: space-around;
	}
	.container {
		width: 100%;
	}
}
@media screen and (max-width: 1132px) and (orientation: landscape) {
	.header_content {
		padding-top: 150px;
	}
}
@media screen and (max-width: 879px) {
	h1 {
		font-size: 3rem;
	}
	h2 {
		font-size: 2.1rem;
	}
	nav li {
		height: 60px;
	}
	.header_items {
		display: none;
	}
	.header_content {
		padding-top: 200px;
		padding-left: 10px;
		padding-right: 10px;
	}
	.info {
		padding: 150px 20px;
	}
	.principles {
		display: none;
	}
	.promissess header {
		padding: 0 30px;
	}
	.toggle {
		display: block;
	}
	#menu {
		position: absolute;
		top: -455px;
		z-index: 10;
		width: 100%;
		transition: .4s;
		background: #fff;
		padding: 30px;
		padding-top: 50px;
	}
	#menu li {
		display: block;
		padding: 0;
		margin: 5px;
	}
	nav li a {
		color: #919294;
		padding: 20px;
		display: block;
		transition: .4s;
		outline: 1px solid transparent;
	}
	nav li a:hover,
	nav li a:focus,
	nav li a:active,
	nav li:nth-child(2) a:hover,
	nav li:nth-child(2) a:focus {
		color: #fff;
		background: #00BC8B;
		padding: 20px;
		display: block;
	}
	nav li:nth-child(2) a{
		color: #00BC8B;
		border-bottom: none;
	}
	.header_content p {
		font-size: 1.8rem;
		line-height: 2.8rem;
	}
}
@media screen and (max-width: 879px) and (orientation: landscape) {
	.header_content {
		padding-top: 150px;
	}
	.header_content h1 {
		margin-bottom: 20px;
		padding-bottom: 190px;
	}
}
@media screen and (max-width: 639px) {
	.header_content {
		padding-top: 70px;
	}
	.header_content h4 {
		display: none;
	}
	.header_content h1 {
		margin-bottom: 20px;
	}
}
@media screen and (max-width: 639px) and (orientation: landscape) {
	.header_content {
		padding-top: 100px;
	}
}